.pokedex{
    display: flex;
    justify-content: space-between;
}
.pokemon{
    background-color: green;
    height: 28vh;
    width: 20vw;
    padding: 20px;
    padding-top: 0;
    border: 1px solid #000;
    border-radius: 30px;
}

p{
    font-size: 25px;
}

#charmander{
    background-color: orange;
}

img{
    display: flex;
    width: 200px;
    justify-self: center;
}