*, body{
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    margin-left: -25px;
    width: 90vw;
    text-align: left;
    font-weight: 545;
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}